html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 95%;
    overflow: auto;
}

.row {
    flex: 1;
    overflow: visible;
}

footer {
    flex-shrink: 0;
}